.banner{
  background:linear-gradient(rgba(250, 250, 252, 0.78),rgba(250, 250, 252, 0.78)), url(./images/61127627883dbb0802b613e3_Hero\ Background\ 1.png) ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  &__container{
    text-align: center;
  }
}
.banner_contenr{
  padding-top: 150px;
  .banner_logo{
    padding-bottom: 30px;
  }
  h2{
    padding-bottom: 100px;
  }
}